<div id="content">
</div>
<script>
	var CURRENT_USER_ID = <%= current_user ? current_user.id : "null" %>
</script>
<script>
	filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
</script>
	<div id="splashscreentotal">
<div id="splash">
  <img class="splash_background" src="https://s3-us-west-1.amazonaws.com/diveloggrimagable/splash.jpg">
</div>
<div id="overlay">
	<div id="row">
  	  <img class="splash_logo" src="https://s3-us-west-1.amazonaws.com/diveloggrimagable/diveloggr_splash_logo.gif">
    <div class="row">
		<div class="col-xs-12">
      <button type="button" class="btn btn-default btn-lg main-sign-up" data-toggle="modal" data-target="#signUpModal">
        Dive In
      </button>
  </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<%= button_to "Preview (Guest Account)", { controller: :users, :action => :create }, { :class => "btn-lg btn-default guest-log-in"} %>
	      <!-- <button type="button" class="btn btn-default btn-lg guest-log-in"> -->
        <!-- Preview -->
      </a>
  </div>
    </div>
  </div>
</div>
</div>