<div class="row entdiv" id="show_header">
	<div class="col-xs-3">
			<% if (user.has('image_url')) { %>
					<img id="user-user-show-image" src="<%= user.user().get('image_url') %>">
			<% } else { %>
					<img id="user-user-show-image" src=<%= Diveloggr.defaultProfileImg %>>
			<% } %>
	</div>
	<div class="col-xs-9">
		<h1 id="user-title"><%= user.escape("lname") %> <%= user.escape("fname") %></</h1>
	</div>
</div>
