/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


//header stuff

#diveloggrheaderlogo {
	height: 50px;
	width: 50px;
	border-radius: 5px;
}

//Custom Alert CSS

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: black;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div{ background: white; margin:2px; }
#dialogbox > div > #dialogboxhead{ background-color: black; font-size:19px; padding:10px; color: white; }
#dialogbox > div > #dialogboxbody{ background-color: white; padding:20px; color: black; }
#dialogbox > div > ul { background-color: white; padding:20px; color: black; }
#dialogbox > div > #dialogboxfoot{ background-color: black; padding:10px; text-align:right; }


//Navbar Formatting


.table-responsive{
	border: 3px solid black;
	height: 300px;
	overflow-y: scroll;
}

.navbar-default{
	margin-bottom: 0px;
}

body, html {
  height: 100%;
  letter-spacing: 1px;
  font-family:  "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

//Splash Formatting

#splashscreentotal{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.splash-page {
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

.splash_background{
	margin-top: -10%;
	width: 100%;
}

#overlay {
  position: absolute;
  background: rgba(100, 100, 100, 0.50);
  top: 25%;
  left: 60%;
  width: 30%;
  display: inline;
  border-radius: 8px;
  padding: 20px;
}

.splash_logo{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 4px solid black;
	width: 100%;
	opacity: 60%;
}


.main-sign-up {
	position: relative;
	margin-left: auto;
	border: 4px solid black;
	width: 100%;
}

.guest-log-in {
	position: relative;
	margin-left: auto;
	margin-top: 10px;
	width: 100%;
	border: 4px solid black;
}

//Entry Form Specific

#smalldig {
	width: 80px;
}

.new_entry_form > div.row {
	border: 2px solid black;
}

#button-group {
	position: relative;
	margin-left: 50px;
}

.new-entry-button {
	width: 30%;
	margin: 10px;
}

//Entry Page Specific

.subtext {
	font-style: italic;
}

#cat-header{
	background: black;
	color: white;
}

#image-display-modal {
	width: 100%;
}

.entry-modal-header {
	position: relative;
	margin-top: 50px;
	color: white;
}

div#images-container > .single-image-element {
	display: inline;
	float: left;
	margin: 5px;
}

#entry-image-thumb {
	display: inline;
}

#thumb-img {
	border-radius: 4px;
	border: 1px solid black;
}

//Feed Page Specific

#feed-image-thumb {
	margin: 2px;
	border-radius: 2px;
}

#feed-thumb-img {
	float: left;
	width: 50px;
	margin: -4px;
}

.photo-timeline {
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
	min-height: 500px;
	overflow-y: scroll;
}

#feed-view-user-pic {
	height: 40px;
	width: 40px;
	border: 1px solid black;
}

#feed-view-user-pic-header {
	width: 50px;
}

body {
  padding-top: 50px;
}

#map-canvas {
	min-height: 600px;
	height: 100%;
	width: 100%;
	border: 4px solid black;
}

.dive-table {
	width: 100%;
	min-height: 570px;
}

//User Show Page Specific

.user-show-container {
	margin-top: 30px;
}

//iframe {
//	height: 100%;
//	width: 100%;
//	margin-bottom: 200px;
//}

#user-info-def dt {
	width: 300px;
}

#user-info-def dd {
	margin-left: 330px;
	font-size: 24px;
}

.user-show-container .row {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

#no-dives-logged {
	margin-top: 30px;
	margin-bottom: 30px;
}

#show-foot {
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}

#footer-spacer {
	height: 38px;
}

#user-title {
	font-size: -webkit-xxx-large;
}


.profile-pic-container {
	max-height: 200px;
	max-width: 200px;
	margin-top: 25px;
	margin-bottom: 25px;
	overflow: hidden;
	border-radius: 25px;
}

.change-profile-pic {
	position: absolute;
	margin: 20px;
	opacity: 60%;
	background-color: black;
	color: white;
	font-family: helvetica;
	font-size: 150%;
	
}

#user-show-image {
	width: 200px;

}

hr .blackbreak {
	background-color: black;
	border-top: 3px black;
	margin: 0;
}

//Entry Show Page Specific

.entry_show {
	margin-top: 5%;
}

.entry-edit, .entry-delete {
	float: left;
	width: 40%;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	
}

#entry-user-show-image {
	height: 150px;
	width: 150px;
	border-radius: 25px;
	margin-top: 30px;
	border: 2px solid white;
}

div.entry_show > div {
	border-left: 2px solid black;
	border-right: 2px solid black;
	
}

#show_header {
	border-top-right-radius: 35px;
	border-top-left-radius: 35px;
}

.interior_text_area {
	background-color: white;
	border-radius: 8px;
	border: 4px solid black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.entdiv {
	background-color: black;
	color: white;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


