/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//Navbar Formatting

.table-responsive{
	border: 3px solid black;
	height: 300px;
	overflow-y: scroll;
}

.navbar-default{
	margin-bottom: 0px;
}

body, html {
  height: 100%;
  letter-spacing: 1px;
  font-family:  "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

//Splash Formatting
.splash_background{
	width: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
}

#overlay {
  position: absolute;
  background: rgba(100, 100, 100, 0.50);
  top: 10%;
  left: 35%;
  width: 30%;
  display:inline;
  border-radius: 8px;
  padding: 20px;
}

.splash_logo{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-radius: 10px;
	border: 4px solid black;
	width: 100%;
	opacity: 60%;
}


.main-sign-up {
	margin: auto;
	width: 40%;
	
}

.guest-log-in {
	float: right;
	margin: auto;
	width: 40%;
}

//Entry Page Specific

#cat-header{
	background: black;
	color: white;
}

//Feed Page Specific

#feed-view-user-pic {
	height: 40px;
	width: 40px;
	border: 1px solid black;
}

#feed-view-user-pic-header {
	width: 50px;
}

body {
  padding-top: 50px;
}

#map-viewport {
	height: 400px;
	width: 100%;
	border: 4px solid black;
}

//User Show Page Specific

.user-show-container {
	margin-top: 30px;
}

//iframe {
//	height: 100%;
//	width: 100%;
//	margin-bottom: 200px;
//}

#user-info-def dt {
	width: 300px;
}

#user-info-def dd {
	margin-left: 330px;
	font-size: 24px;
}

.user-show-container .row {
	border-right: 3px solid black;
	border-left: 3px solid black;
}

#no-dives-logged {
	margin-top: 30px;
	margin-bottom: 30px;
}

#show-foot {
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}

#footer-spacer {
	height: 38px;
}

#user-title {
	font-size: -webkit-xxx-large;
}


.profile-pic-container {
	height: 300px;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.change-profile-pic {
	position: absolute;
	margin: 20px;
	opacity: 60%;
	background-color: black;
	color: white;
	font-family: helvetica;
	font-size: 150%;
	
}

#user-show-image {
	border-radius: 50px;
}

hr .blackbreak {
	background-color: black;
	border-top: 3px black;
	margin: 0;
}

//Entry Show Page Specific

#entry-user-show-image {
	height: 150px;
	width: 150px;
	border-radius: 25px;
	margin-top: 30px;
	border: 2px solid white;
}

.entry_show {
	border: 2px solid black;
}

#show_header {
	border-top-right-radius: 35px;
	border-top-left-radius: 35px;
}

.interior_text_area {
	background-color: white;
	border-radius: 8px;
	border: 4px solid black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.entdiv {
	background-color: black;
	color: white;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
