<div id="splash">
  <img class="splash_background" src="https://s3-us-west-1.amazonaws.com/diveloggrimages/splash.jpg">
</div>
<div id="overlay">
  	  <img class="splash_logo" src="https://s3-us-west-1.amazonaws.com/diveloggrimages/diveloggr_splash_logo.gif">
    <div class="row">
      <button class="btn btn-default btn-lg main-sign-up" data-toggle="modal" data-target="#signUpModal">
        Dive In
      </button>
      <a href="#feed" class="btn btn-default btn-lg guest-log-in">
        Preview
      </a>
    </div>
  </div>
</div>





