
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
	 <li><a href="#/feed">General Statistics</a></li>
    <li class="active"><a href="#">Visibility Summary<span class="sr-only">(current)</span></a></li>
    <li><a href="#/feed">Wildlife Summary</a></li>
    <li><a href="#/feed">Dive Profiles</a></li>
    <li><a href="#/feed">Export Data</a></li>
  </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h1 class="page-header">Diveloggr Feed</h1>

<div class="row" id="map-container">
	<div id="map-canvas"></div>
</div>

  <h2 class="sub-header">Filtered Dives (<%= filtered %>)</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
			<th id="feed-view-user-pic-header"></th>
          <th>Author</th>
		  <th>Title</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody id="entry-table-elements">
      </tbody>
    </table>
  </div>
</div>
</div>
