<div id="feed-image-thumb" data-photo-id="<%= image.get('id') %>">
	<a href="#entries/<%= image.get('imageable_id') %>" type="button" class="btn btn-default">
		<img id="feed-thumb-img" src="<%= image.get('m_url') %>">
	</a>
</div>