<nav class="main-navbar" role="navigation">
	<div class="container container-fluid">
		<div class="diveloggr-logo">
			<a href="#" >
		</div>
	<% if logged_in? %>
	<em>You are logged in as: </em><%= current_user.email %>
	<%= button_to "Log Out", session_url, method: :delete %>
	<% else %>
	You're not logged in!
	<% end %>
	</div>
</nav>